.wrap {
  width: 100%;
  height: 100%;
}

.wrapCenter {
  width: 500px;
  height: 500px;
  border: 5px solid #74858F;
  border-radius: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.wrapCenter h1{
  font-size: 40px;
  margin-bottom: 15px;
}
.lastBookBox {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.lastBookWrap:hover{
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}
.path, .dateTime{
  font-size: 18px;
  font-weight: bold;
  text-align: start;
}
.path{
  padding-top: 10px;
}
.dateTime{
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
a{
  color: black;
}